@model IEnumerable<foodie_mvc.Models.User>

@{
    ViewData["Title"] = "User";
}

<h1>User</h1>

<p>
<div class="row">
    <div class="col-6">
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </div>
    <form class="form-inline mr-auto w-50 navbar-search" asp-controller="User" asp-action="Index" method="get">
        <div class="input-group">
            <input type="text" name="Search" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
</p>
<div class="tableCard shadow p-3 mt-5" style="border-radius: 25px; overflow-x: auto;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Balance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserRole)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PassWord)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserRole)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PassWord)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-secondary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
