@model IEnumerable<foodie_mvc.Models.Product>

@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>

<p>
<div class="row">
    <div class="col-lg-6">
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </div>
    <form class="form-inline mr-auto w-50 navbar-search" asp-controller="Product" asp-action="Index" method="get">
        <div class="input-group">
            <input type="text" name="Search" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
</p>
<div class="tableCard shadow-lg p-3 mt-5" style="border-radius: 25px; overflow-x: auto;">
    <table class="table table-stripe table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantityAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mrp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Store)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityAvailable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mrp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount!.DiscountId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Store!.StoreId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type!.TypeId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-secondary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
