@model IEnumerable<foodie_mvc.Models.Cart>

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<p>
<div class="row">
    <div class="col-lg-6">
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </div>
    <form class="form-inline mr-auto w-50 navbar-search" asp-controller="Cart" asp-action="Index" method="get">
        <div class="input-group">
            <input type="text" name="Search" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
</p>
<div class="tableCard shadow p-3 mt-5" style="border-radius: 25px; overflow-x: scroll;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product!.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User!.UserId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CartId" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.CartId" class="btn btn-secondary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.CartId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
